<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

This is a notebook that summerize the Data science tools and Ecosystem.

**Objectives:**
<ul>
  <li>List of popular languages in DS</li>
  <li>common libraries used in DS</li>
  <li>DS tools</li>
  <li>Examples</li>
</ul>

Some of the most popular languages used in Data Science are:

<ol>
  <li>Python</li>
  <li>R</li>
  <li>Scala</li>
</ol>

some of the commonly used libraries used for data science are:
<ol>
    <li>Pandas </li>
    <li>Numpy</li>
    <li>Matplotlib</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>Spyder</td>
    </tr>
    <tr>
        <td>Rstudio</td>
    </tr>
<table>

### Arithmetic Expression Examples

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author ##
Nima Daneshvar